*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: green;
}

.seconds-counter {
    height: 8rem;
}

.item {
    padding: 1rem;
    font-size: 3rem;
    background-color: #1b1b1b;
    border-radius: 1rem;
}

.item:not(:last-child) {
    margin-right: 1rem;
}